.form-box{
    padding: 20px;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 2px 2px 10px 10px #b1b2ff88;
    margin:70px auto 70px;
    width:60%;
    background-color:#eef1ffe9;
}
.outter{
    padding: 20px;
    border: 3px solid black;
    margin:100px auto 100px;
    width:50%;
    background-color: #b1b2ff6e;
    box-shadow: 2px 2px 15px 15px rgba(0, 0, 0, 0.127);
}
label{
    padding:5px;
    margin: auto;
}
body{
    background-color:#eef1ff89;
}
